*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right,#c55aba,#6042c2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}